<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="*.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- adds hello.js to the default document list to allow 
    URLs that only specify the application root location, 
    e.g. http://localhost:9999/Node/ -->
    <defaultDocument enabled="true">
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to route.js node.js application; for example, the following URLs will 
    all be handled by route.js:
   
    -->

    <rewrite>
      <rules>
        <!--
        http://localhost:9999/Node/myapp
        http://localhost:9999/Node/myapp/foo
        http://localhost:9999/Node/myapp/foo/bar/baz?param=bat
        -->
        <rule name="myroute">
          <match url="myapp/*" />
          <action type="Rewrite" url="route.js" />
        </rule>
        <!--
        http://localhost:9999/Node/express
        http://localhost:9999/Node/express/foo
        http://localhost:9999/Node/express/foo/bar/baz?param=bat
        -->        
        <rule name="myexpress">
          <match url="express/*" />
          <action type="Rewrite" url="express.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
