<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <httpRuntime maxRequestLength="2097151"  useFullyQualifiedRedirectUrl="true" executionTimeout="14400"   />
    </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFDemo.TranserService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="TransferService" contract="WCFDemo.ITranserService" />
      </service>      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--默认设置，开启元数据交换-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="TransferService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" sendTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_ITransferService" closeTimeout="04:01:00"
             openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00"
             allowCookies="false" bypassProxyOnLocal="false"
             hostNameComparisonMode="StrongWildcard"
             maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
             maxReceivedMessageSize="2147483647"
             messageEncoding="Text" textEncoding="utf-8"
             transferMode="Streamed"
             useDefaultWebProxy="true">
          <readerQuotas maxDepth="128"
              maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None"
                    proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="basicHttpUpload" address="http://localhost/WCFDemo/Transfer/TransferService.svc" binding="basicHttpBinding" contract="WCFDemo.ITransferServiceClient" bindingConfiguration="BasicHttpBinding_ITransferService" />
    </client>
  </system.serviceModel>
</configuration>
