<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFDemo.TranserService">
        <endpoint binding="basicHttpBinding" 
                  contract="WCFDemo.ITranserService" />
      </service>      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--默认设置，开启元数据交换-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>

        <!-- 需要将 messageEncoding 设置为 Mtom，否则将会导致 "解码时找到无效数据" 异常 -->
        <binding closeTimeout="00:10:00"
                 receiveTimeout="00:20:00"
                 sendTimeout="00:20:00"
                 messageEncoding="Mtom" 
                 textEncoding="utf-8"
                 transferMode="Streamed"
                 maxBufferSize="2147483647" 
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="basicHttpUpload" 
                address="http://localhost/WCFDemo/Transfer/TransferService.svc" 
                binding="basicHttpBinding"
                contract="WCFDemo.ITransferServiceClient" />
    </client>
  </system.serviceModel>
</configuration>
