<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFDemo.CalcService">
        <endpoint binding="basicHttpBinding" name="WithHttp" contract="WCFDemo.ICalcService" />
        <endpoint binding="netTcpBinding" name="WithTCP" contract="WCFDemo.ICalcService" />
        <endpoint binding="netNamedPipeBinding" name="WithNamedPipe" contract="WCFDemo.ICalcService" />
      </service>      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--默认设置，开启元数据交换-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost/WCFDemo/Calc/CalcService.svc" binding="basicHttpBinding" contract="CalcService" name="BasicHttpBinding_CalcService" />
      <endpoint address="net.tcp://localhost/WCFDemo/Calc/CalcService.svc" binding="netTcpBinding" contract="CalcService" name="NetTcpBinding_CalcService">
        <identity>
          <servicePrincipalName value="host/ZhangJin-PC" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://calc/WCFDemo/Calc/CalcService.svc" binding="netNamedPipeBinding" contract="CalcService" name="NamedPipeBinding_CalcService">
        <identity>
          <servicePrincipalName value="host/ZhangJin-PC" />
        </identity>
      </endpoint>      
    </client>
  </system.serviceModel>
</configuration>
