<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FormValidate</title>
    <meta charset="utf-8" />
    <script src="../../Scripts/angular.js"></script>
    <style type="text/css">
        input.ng-invalid {
            border: 1px solid red;
        }

        input.ng-valid {
            border: 1px solid green;
        }
    </style>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="MyController">
            <form name="myForm" action="/Default.aspx">
                <input type="text" ng-model="name" required placeholder="必填项" /><br />
                <input type="text" name="min" ng-model="min" required ng-minlength="5" placeholder="最小长度 5" /><br />
                <input type="text"  ng-model="max" ng-maxlength="10" placeholder="最大长度 10" /><br />
                <input type="email"  ng-model="email" placeholder="邮件" /><br />
                <input type="number"  ng-model="number" placeholder="数字" /><br />
                <input type="number" ng-model="age" ng-pattern="reg" placeholder="正则表达式-2x岁" /><br />
                <input type="url"  ng-model="homepage" placeholder="个人主页" /><br />

                <h3>"最小长度 5" 验证信息 【表单的 name="min"】</h3>
                <ul>
                    <li>是否未修改：{{myForm.min.$pristine}}</li>
                    <li>是否修改：{{myForm.min.$dirty}}</li>
                    <li>是否合法：{{myForm.min.$valid}}</li>
                    <li>是否不合法：{{myForm.min.$invalid}}</li>
                    <li>错误信息：{{myForm.min.$error}}</li>
                </ul>

                <input type="submit" value="提交" />
            </form>
        </div>

    </div>
    <script>
        angular
            .module('myApp', [])
            .controller('MyController',
            ['$scope', function ($scope) {
                $scope.reg = '2\\d';  // 注意转义符写法，ng-pattern 必须绑定到变量
            }]);
    </script>
</body>
</html>
