<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <!--https://github.com/nlog/NLog/wiki/How%20to%20write%20a%20Target-->
  <extensions>
    <add assembly="NlogToSqlite.Elmah" />
  </extensions>
  <targets>
    <target xsi:type="Elmah" name="elmah" ConnectionStringName="elmahLog" />
  </targets>
  <rules>
    <logger name="*" writeTo="elmah" />
  </rules>
</nlog>