<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFDemo.AjaxService">
        <endpoint binding="webHttpBinding" name="WithWebHttp" bindingConfiguration="webHttpBindingJSONP" contract="WCFDemo.IAjaxService" behaviorConfiguration="webHttpEndpointBehaviorJSONP" />
        <!--使用“UriTemplate”的终结点无法用于“System.ServiceModel.Description.WebScriptEnablingBehavior”-->
      </service>          
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpEndpointBehaviorJSONP">
          <webHttp/>
          <enableWebScript/><!--JSONP-->
        </behavior>
      </endpointBehaviors>      
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingJSONP" crossDomainScriptAccessEnabled="true" /><!--JSONP-->
      </webHttpBinding>      
    </bindings>
    <client>
      <!--不需要客户端配置文件-->
    </client>

  </system.serviceModel>
  
</configuration>
