<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="T01" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="false"/>
    <section name="T02" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="false"/>
    <section name="T03" type="System.Configuration.SingleTagSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="false"/>
  </configSections>
  <T01>
    <add key="Key1" value="This is value 1" />
    <add key="Key2" value="This is value 2" />
  </T01>
  <T02>
    <add key="Key3" value="This is value 3" />
  </T02>
  <T03 Key4="This is value 4" Key5="This is value 5" />
</configuration> 
