<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCFDemo.Operate.OperateService">
        <endpoint binding="wsDualHttpBinding" name="WithWSDualHttp" contract="WCFDemo.Operate.IOperateService" />
        <endpoint binding="netTcpBinding" name="WithTCP" contract="WCFDemo.Operate.IOperateService" />
        <endpoint binding="netNamedPipeBinding" name="WithNamedPipe" contract="WCFDemo.Operate.IOperateService" />
      </service>
    </services>    
  </system.serviceModel>
</configuration>
