<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--由于IIS WAS绑定中的 .svc 文件已经提供了默认服务(包括了绑定，契约和地址)的信息，此处已经不需要提供了-->
    <!--如果要添加自定义的，可以查看 Web-Full.config 中的配置方式-->
    <client>
      <endpoint
        address="http://localhost:9999/WCFDemo/Calc/CalcService.svc"
        binding="basicHttpBinding"
        contract="DemoSite.WCFDemo.Calc.ICalcService"
        name="BasicHttpBinding_CalcService" />
      <endpoint
        address="net.tcp://localhost/WCFDemo/Calc/CalcService.svc"
        binding="netTcpBinding"
        contract="DemoSite.WCFDemo.Calc.ICalcService"
        name="NetTcpBinding_CalcService" />
      <endpoint
        address="net.pipe://localhost/WCFDemo/Calc/CalcService.svc"
        binding="netNamedPipeBinding"
        contract="DemoSite.WCFDemo.Calc.ICalcService"
        name="NamedPipeBinding_CalcService" />
    </client>
  </system.serviceModel>
</configuration>
