<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DemoSite.WCFDemo.Calc.CalcService">
        <endpoint binding="basicHttpBinding" contract="DemoSite.WCFDemo.Calc.ICalcService" />
        <endpoint binding="netTcpBinding" contract="DemoSite.WCFDemo.Calc.ICalcService" />
        <endpoint binding="netNamedPipeBinding" contract="DemoSite.WCFDemo.Calc.ICalcService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--默认设置，开启元数据交换-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:9999/WCFDemo/Calc/CalcService.svc"
                binding="basicHttpBinding"
                contract="DemoSite.WCFDemo.Calc.ICalcService"
                name="BasicHttpBinding_CalcService" />
      <endpoint
                address="net.tcp://localhost/WCFDemo/Calc/CalcService.svc"
                binding="netTcpBinding"
                contract="DemoSite.WCFDemo.Calc.ICalcService"
                name="NetTcpBinding_CalcService">
                <identity>
                  <servicePrincipalName value="host/ZhangJin-PC" />
                </identity>
      </endpoint>
      <endpoint
                address="net.pipe://localhost/WCFDemo/Calc/CalcService.svc"
                binding="netNamedPipeBinding"
                contract="DemoSite.WCFDemo.Calc.ICalcService"
                name="NamedPipeBinding_CalcService">
                <identity>
                  <servicePrincipalName value="host/ZhangJin-PC" />
                </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
