<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--由于IIS WAS绑定中已经提供了默认服务(包括了绑定，契约和地址)的信息，此处已经不需要提供了-->
    <!--如果要添加自定义的，可以查看WebFull.config中的配置方式-->
    <!--服务默认已经开启了元数据交互-->
    <client>
      <endpoint 
        address="http://localhost:9999/WCFDemo/Calc/CalcService.svc" 
        binding="basicHttpBinding" 
        contract="CalcService" 
        name="BasicHttpBinding_CalcService" />
      <endpoint
        address="net.tcp://localhost/WCFDemo/Calc/CalcService.svc"
        binding="netTcpBinding"
        contract="CalcService"
        name="NetTcpBinding_CalcService" />
      <endpoint 
        address="net.pipe://calc/WCFDemo/Calc/CalcService.svc" 
        binding="netNamedPipeBinding" 
        contract="CalcService" 
        name="NamedPipeBinding_CalcService">
        <identity>
          <servicePrincipalName value="host/DST61947" />
        </identity>
      </endpoint>      
    </client>
  </system.serviceModel>
</configuration>
