<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DemoSite.WCFDemo.Calc.CalcService">

        <endpoint
          binding="netNamedPipeBinding"
          name="WithNamedPipe"
          contract="DemoSite.WCFDemo.Calc.ICalcService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--默认设置，开启元数据交换-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>

      <endpoint
        address="net.pipe://CalcPipe/WCFDemo/Calc/CalcService.svc"
        binding="netNamedPipeBinding"
        contract="DemoSite.WCFDemo.Calc.ICalcService"
        name="NamedPipeBinding_CalcService" />
    </client>
  </system.serviceModel>
</configuration>