<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DemoSite.WCFDemo.Calc.CalcService">
        <endpoint
          binding="basicHttpBinding"
          name="WithHttp"
          contract="DemoSite.WCFDemo.Calc.ICalcService" />
      </service>
    </services>
    <client>
      <endpoint
        address="http://localhost:9999/WCFDemo/Calc/CalcService.svc"
        binding="basicHttpBinding"
        contract="DemoSite.WCFDemo.Calc.ICalcService"
        name="BasicHttpBinding_CalcService" />
    </client>
  </system.serviceModel>
</configuration>