<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="AjaxService">
        <endpoint
          binding="webHttpBinding"
          name="WithWebHttp"
          bindingConfiguration="webHttpBindingJSONP"
          contract="IAjaxService"
          behaviorConfiguration="webHttpEndpointBehaviorJSONP" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpEndpointBehaviorJSONP">
          <webHttp/>
          <!-- 启用为 ASP.NET AJAX 包裹方式，最外面为一个 d -->
          <!--使用“UriTemplate”的终结点无法用于“System.ServiceModel.Description.WebScriptEnablingBehavior”-->
          <!--<enableWebScript/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <!--启用 JSONP-->
        <binding name="webHttpBindingJSONP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
